@model qenem.Models.UsuarioModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UsuarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUltimoAcesso" class="control-label"></label>
                <input asp-for="DataUltimoAcesso" class="form-control" />
                <span asp-validation-for="DataUltimoAcesso" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BAdministrador" /> @Html.DisplayNameFor(model => model.BAdministrador)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BExcluido" /> @Html.DisplayNameFor(model => model.BExcluido)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Pontuacao" class="control-label"></label>
                <input asp-for="Pontuacao" class="form-control" />
                <span asp-validation-for="Pontuacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAreaInteresse" class="control-label"></label>
                <input asp-for="IdAreaInteresse" class="form-control" />
                <span asp-validation-for="IdAreaInteresse" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TemaUsuario" /> @Html.DisplayNameFor(model => model.TemaUsuario)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDeLista" class="control-label"></label>
                <input asp-for="NumeroDeLista" class="form-control" />
                <span asp-validation-for="NumeroDeLista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDeSimulado" class="control-label"></label>
                <input asp-for="NumeroDeSimulado" class="form-control" />
                <span asp-validation-for="NumeroDeSimulado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimiteDiarioQuestoes" class="control-label"></label>
                <input asp-for="LimiteDiarioQuestoes" class="form-control" />
                <span asp-validation-for="LimiteDiarioQuestoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
