@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de alteração de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, acesse seu e-mail para alterar a sua senha.
</p>
